body
{
    font: normal 16px/20px "Helvetica Neue" , Helvetica, sans-serif;
}

.x-fullscreen {
    background: #FFF!important;
}

#carousel, #carousel2{
    width: 100%;
    height: 50%;
}

.card {
    text-align: center;
    color: #204167;
    text-shadow: #3F80CA 0 1px 0;
    font-size: 72px;
    width: 100%;
    height: 100%;
}

.x-panel-body{
    width: 100%;
    height: 100%;
}

.card:nth-child(2){
    background: #EEE;
}

.card:nth-child(3){
    background: #DDD;
}