.x-transition-container{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

#audio{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    display: -webkit-box;
}