<div class="x-fullscreen">
    <div class=" x-toolbar x-header">
        <div class="x-toolbar-title">Overview</div>
        <div class="x-header-operat">
            <div class="x-button backBtn x-button-plain x-icon-align-left" data-href="#">
                <div class="back x-icon-mask"></div>
            </div>
        </div>
    </div>
    <div class="x-content">
        <div class="scroll">
            <div class="x-html">
                <p>
                    Web 2.0 Summit is the only place, once a year, where leaders of the Internet Economy gather to debate and determine business strategy. Join the 
                    <a href="http://www.google.com.hk">leadership of this extraordinary industry</a>
                     this November 15-17 in San Francisco.
                </p>
                <p>
                    Fifteen years and two recessions into the commercial Internet, it's clear that our industry has moved into a competitive phase—a 
                    "middlegame" in the battle to dominate the Internet Economy. At this year's Web 2.0 Summit, we're focusing on these shifting points of control—
                    <a href="http://www.google.com.hk">strategic chokepoints on an increasingly crowded board</a>
                </p>
                <p>
                    Over 50 leaders and global executives including 
                    <a href="http://www.google.com.hk">Julius Genachowski</a> (Chairman, FCC), 
                    <a href="http://www.google.com.hk">Ariel Emanuel</a> (CEO, WME Entertainment), 
                    <a href="http://www.google.com.hk">Carol Bartz</a> (CEO, Yahoo!), 
                    <a href="http://www.google.com.hk">Mark Zuckerberg</a> (CEO, Facebook), 
                    <a href="http://www.google.com.hk">Sukhinder Singh Cassidy</a> (CEO, Polyvore), 
                    and <a href="http://www.google.com.hk">Robin Li</a> (Chairman &amp; CEO, Baidu) 
                    will join us onstage this year.
                </p> 
                <p>
                    The <a href="http://www.google.com.hk">Web 2.0 Summit program</a> 
                    features companies who are changing strategy and moving into new fields of battle. We'll map strategic inflection points and 
                    <a href="http://www.google.com.hk">identify key players</a> 
                    who are battling to control the services and infrastructure of a 
                    <a href="http://www.google.com.hk">websquared world.</a></p>
                <p>
                    Web 2.0 Summit <a href="http://www.google.com.hk">gathers the intelligence, innovation, and leadership of the Internet and media industries</a> 
                    for a conversation that never fails to stimulate, push, and surprise. Only at Web 2.0 Summit can you engage in an event with:
                </p>
                <ul>
                    {#foreach $T.data as data}
                        <li>{$T.data}</li>
                    {#/for}
                </ul>
            </div>
        </div>
    </div>
</div>
