<div class="x-fullscreen">
    <div class="x-toolbar x-header">
        <div class="x-toolbar-title">Session</div>
        <div class="x-header-operat">
            <div class="x-button backBtn x-button-plain x-icon-align-left" data-href="#">
                <div class="back x-icon-mask"></div>
            </div>
            <div class="x-button refreshBtn x-button-plain x-icon-align-right">
                <div class="refresh x-icon-mask"></div>
            </div>
        </div>
    </div>
    <div class="x-content">
        <div class="x-toolbar" style="background-color: #EEE; z-index: 5;">
            <div class="x-inputArea">
                <input type="text" placeholder="输入会话内容" />
                <div class="x-button"><span class="x-button-label">发送</span></div>
            </div>
        </div>
        <div class="scroll">
            <div class="x-html">
            </div>
        </div>
        <div id="footer" class="x-toolbar x-toolbar-dark x-footer">
            <div class="x-toolbar-title">未连接</div>
        </div>
    </div>
</div>
